/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

/* Header Styles */
header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 150px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #007bff;
}

/* Welcome Section Styles */
.welcome {
  background-color: #007bff;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px; /* Rounded corners */
}

.welcome h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.welcome p {
  font-size: 18px;
}

/* Main Content Styles */
main {
  padding: 20px;
}

.museum-list {
  margin-bottom: 50px;
}

.museum-container {
  display: flex;
  flex-wrap: wrap;
}

.museum-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  margin: 10px;
  width: calc(33.33% - 20px);
}

.museum-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  color: #007bff;
}

/* Price Comparison Styles */
.price-comparison {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

#comparison-form {
  margin-bottom: 20px;
}

#price-results {
  font-size: 20px;
  color: #007bff;
  margin-top: 20px;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Dropdown Menu Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.buy-ticket-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; /* Rounded corners */
}

.buy-ticket-btn:hover {
  background-color: #45a049; /* Darker green */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .logo img {
      width: 100px;
  }

  nav ul li {
      display: block;
      margin: 10px 0;
  }
}


